
body {
  /*font-family: "Sacramento", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");*/
  /*background: black;*/
}

.container {
  position: absolute;
}

.homebox {
  margin-top: 25%;
  position: relative;
  /*display:inline-block;*/
  overflow: hidden;

}

.homebox_blurbg {
   background: rgba(255, 255, 255, 0.80);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  /*margin:-1px;*/
  /*padding:1px;*/
  height:100%;
  width: 100%;
  position: absolute;
  /*overflow: hidden.*/
}



.homebox_content {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
  padding: 8% 8%;
}


.myname {
  background: #0074D9;
  color: hsla(208, 100%, 85%, 1.0);
  padding: 0 1em;
}

.mynick {

  /*background: #DDDDDD;*/
  padding: 0 0.2em;
  /*margin: 0; */
}


/* links.css http://mrmrs.io/links/ begin */
a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }
/* links.css http://mrmrs.io/links/ finish */
